.about {
    padding: 3rem 2rem;
    background-color: var(--secondary-accent);
    color: var(--neutral-color);
    text-align: center;
    position: relative;
    overflow: hidden;
    animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.about .container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.about-heading {
    font-size: 3.5rem;
    color: var(--primary-accent);
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    letter-spacing: 2px;
    animation: slideInFromLeft 2s ease-out;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.bio {
    font-size: 1.4rem;
    line-height: 1.8;
    color: var(--neutral-color);
    margin-bottom: 3rem;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 2s ease-out;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.avatar {
    width: 220px;
    height: 220px;
    margin: 0 auto;
    border-radius: 50%;
    background-image: url('../assets/chill.png');
    background-size:contain;
    background-position: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    border: 5px solid var(--highlight-color);
    margin-bottom: 3rem;
    animation: bounce 3s infinite ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-bottom: 3rem;
    animation: fadeIn 3s ease-out;
}

.stat-card {
    background: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    backdrop-filter: blur(5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.stat-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.stat-card h3 {
    font-size: 2rem;
    color: var(--primary-accent);
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
}

.stat-card p {
    font-size: 1.3rem;
    color: var(--text-color);
    font-style: italic;
}

.cta {
    background-color: var(--highlight-color);
    color: var(--neutral-color);
    padding: 1.5rem 3rem;
    font-size: 1.4rem;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
}

.cta:hover {
    background-color: var(--secondary-accent);
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}
